@import "tailwindcss";

body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background-color: #1b2534;
}

.containZ{
    height: 85vh;
    border-radius: 34px;
background: #1e2939;
box-shadow:  35px 35px 87px #18202d,
             -35px -35px 87px #243245;
}